.language {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 53px;
  height: 53px;
  background-color: var(--accent);
  color: white;
  font-weight: bold;
  padding: 18px;
  border-radius: 999px;
  z-index: 1000;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: none;
}

.language:hover {
  cursor: pointer;
}