:root[data-theme='light'] {
  --text: #202020;
  --text-h: #002e42;
  --bg: #ebd9c8;
  --bg: linear-gradient(1deg,#f8c688 0%, rgba(235, 217, 200, 1) 100%);
  --accent: #de6600;
  --accent-bg: rgba(254, 160, 47, 0.1);
  --accent-border: rgba(254, 160, 47, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  color: var(--text);
  background: var(--bg);
}

:root[data-theme='dark'] {
  --text: #e2e2e2;
  --text-h: #ffffff;
  --bg: #002e42;
  --bg: linear-gradient(1deg,rgb(0, 57, 82) 0%, rgba(0, 25, 36, 1) 100%);
  --accent: #fea02f;
  --accent-bg: rgba(254, 160, 47, 0.1);
  --accent-border: rgba(254, 160, 47  , 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(255, 255, 255, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  color: var(--text);
  background: var(--bg);
}

:root {
  --input-bg: #f4f3ec;
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: "Anton SC", sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  margin: 0;
  padding: 0;
  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

.container {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 50svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2 {
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-family: var(--heading);
  font-size: 56px;
  letter-spacing: -0.5px;
  text-transform: uppercase;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}
