.card {
  background-color: var(--card);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 2px 0px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s, box-shadow 0.3s;
  margin-bottom: 20px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: var(--shadow);
}

.languages {
  margin-top: 10px;
  display: flex;
  gap: 10px; 
}

.languages span {
  background-color: transparent;
  border: 1px solid var(--accent);
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
}