.card {
  width: 100%;
  background-color: transparent;
  border-radius: 8px;
  padding: 20px;
  /* border: 1px solid var(--accent); */
  transition: transform 0.5s, box-shadow 0.5s;
  margin-bottom: 20px;
  z-index: 2;
  color: var(--card-text);

  &:hover {
    transform: translateY(-5px);
    box-shadow: var(--shadow);
    border: 1px solid var(--accent);
  }
  
  @media (max-width: 1024px) {
      width: calc(100% - 20px);
  }
}

.card h3 {
  color: var(--accent);
}

.chips {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px; 
  padding: 2px;
}

.chips span {
  background-color: transparent;
  border: 1px solid var(--accent);
  color: var(--card-text);
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  position: relative;
}