nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 1px solid var(--border);
  z-index: 1000;
}

ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 20px 0;
}

li {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.5s;

  &:hover {
    color: var(--accent);
    font: 20px;
  }
}

.nav-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-h);
}

.scrolled {
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

.dot {
  color: var(--accent);
}

.nav-logo:hover .tooltip {
  opacity: 1;
}

.tooltip {
  position: absolute;
  top: calc(100% - 68px);
  left: 90px;
  z-index: 10;
  background-color: var(--accent);
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 0.75rem;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.7s;
}

.tooltip::before {
  content: "";
  position: absolute;
  left: -6px;
  top: 50%;
  transform: translateY(-50%);

  width: 0;
  height: 0;

  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid var(--accent);
}

.tooltip:hover {
  opacity: 1;
}

@media (max-width: 1024px) {
  .tooltip {
    top: calc(100% - 45px);
  }

  ul {
    display: none;
  }
}