nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 1px solid var(--border);
  z-index: 1000;
}

ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 20px 0;
}

li {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.5s;

  &:hover {
    color: var(--accent);
    font: 20px;
  }
}

.nav-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-h);
}

.scrolled {
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

.dot {
  color: var(--accent);
}

@media (max-width: 1024px) {
  nav {
  }

  ul {
    display: none;
  }
}